In [8]:
import json
import pandas as pd

data = []
with open('data.jsonl') as f:
    for line in f.readlines():
        d = json.loads(line)
        record = {
            **d['relays'],
            **d['data'],
        }
        if record['t_sign'] != 0:
            record['t_sign'] = 1

        record['diff'] = abs(record['t_v_mag'] - record['t_c_mag'])

        data.append(record)

df = pd.DataFrame.from_records(data)

df.drop(columns=['m_freq', 'm_temp'], inplace=True)

df = df.sort_values(by='m_swr')

df[:10]

,caps,inds,z,m_fwd,m_rev,m_swr,t_v_mag,t_c_mag,t_phase,t_sign,t_freq,diff
778,12,10,0,93.365067,0.002456,1.010177,2139.000000,2262.333333,641.333333,0.0,14008.666667,123.333333
779,12,11,0,95.122913,0.109070,1.069069,2131.333333,2269.333333,194.333333,0.0,14008.000000,138.000000
715,11,11,0,93.374109,0.187104,1.092520,2158.333333,2245.333333,616.333333,0.0,14007.333333,87.000000
716,11,12,0,95.462244,0.377991,1.131978,2152.333333,2246.000000,356.333333,0.0,14010.000000,93.666667
842,13,10,0,95.522309,0.628860,1.174210,2118.666667,2282.666667,471.666667,0.0,14007.333333,164.000000
841,13,9,0,92.983456,0.925845,1.218261,2123.666667,2278.000000,803.000000,0.0,14010.000000,154.333333
777,12,9,0,90.979521,1.054074,1.237594,2143.000000,2257.666667,914.000000,0.0,14010.000000,114.666667
714,11,10,0,92.150450,1.129447,1.245704,2162.000000,2236.333333,826.000000,0.0,14008.666667,74.333333
780,12,12,0,95.597403,1.311533,1.261737,2134.666667,2268.333333,109.000000,0.0,14008.000000,133.666667
775,12,7,0,90.614958,2.063860,1.349444,2150.666667,2260.333333,962.000000,0.0,14010.000000,109.666667

In [9]:
import json
import pandas as pd

data = []
with open('data2.jsonl') as f:
    for line in f.readlines():
        d = json.loads(line)
        record = {
            **d['relays'],
            **d['data'],
        }
        if record['t_sign'] != 0:
            record['t_sign'] = 1

        record['diff'] = abs(record['t_v_mag'] - record['t_c_mag'])

        data.append(record)

df = pd.DataFrame.from_records(data)

df.drop(columns=['m_freq', 'm_temp'], inplace=True)

df = df.sort_values(by='m_swr')

df[:10]

,caps,inds,z,m_fwd,m_rev,m_swr,t_v_mag,t_c_mag,t_phase,t_sign,t_freq,diff
202,12,10,0,92.791007,0.003054,1.011395,2135.333333,2261.333333,669.666667,0.0,14007.333333,126.000000
203,12,11,0,94.893681,0.067712,1.054056,2132.333333,2266.000000,235.000000,0.0,14006.666667,133.666667
187,11,11,0,92.767493,0.244367,1.106804,2155.000000,2241.333333,557.666667,0.0,14008.000000,86.333333
188,11,12,0,94.606510,0.355962,1.128925,2153.333333,2243.000000,289.000000,0.0,14006.666667,89.666667
218,13,10,0,94.872654,0.550682,1.162674,2119.666667,2279.000000,504.333333,0.0,14007.333333,159.333333
217,13,9,0,92.726333,0.966706,1.224032,2122.666667,2276.333333,825.666667,0.0,14006.000000,153.666667
204,12,12,0,96.652478,1.013651,1.225966,2136.333333,2267.333333,92.333333,1.0,14006.666667,131.000000
201,12,9,0,90.678786,1.327903,1.271271,2147.666667,2253.000000,944.333333,0.0,14006.000000,105.333333
186,11,10,0,91.275878,1.405271,1.278918,2162.666667,2236.000000,789.000000,0.0,14007.333333,73.333333
189,11,13,0,94.934838,2.181227,1.352129,2157.000000,2241.000000,120.000000,1.0,14006.000000,84.000000